<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--
    <add name="CNN_Delverloper"  connectionString="Data Source=CNTT-NHATLH\sqlexpress2008;Initial Catalog=qlShop2;Integrated Security=True"/>
    -->
    <add name="CNN_Delverloper" connectionString="Data Source=DESKTOP-2KC7F34\SQLEXPRESS;Initial Catalog=qlShop2;Integrated Security=True" />
    <!--
    <add name="CNN" connectionString="Server=.;AttachDbFilename=|DataDirectory|\Data2\qlShop.mdf;Database=qlShop3;Trusted_Connection=Yes"/>    
    -->
  <add name="qlshopConn" connectionString="data source=DESKTOP-2KC7F34\SQLEXPRESS;initial catalog=qlShop2;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="qlShop_cnn" connectionString="data source=DESKTOP-2KC7F34\SQLEXPRESS;initial catalog=qlShop2;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="QlShop_cnn" connectionString="data source=DESKTOP-2KC7F34\SQLEXPRESS;initial catalog=qlShop2;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>