<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
    <add name="CNN_Delverloper"  connectionString="Data Source=CNTT-NHATLH\sqlexpress2008;Initial Catalog=qlShop2;Integrated Security=True"/>
    -->
    
    <add name="CNN_Delverloper"  connectionString="Data Source=DESKTOP-2KC7F34\SQLEXPRESS;Initial Catalog=qlShop2;Integrated Security=True"/>    
    <!--
    <add name="CNN" connectionString="Server=.;AttachDbFilename=|DataDirectory|\Data2\qlShop.mdf;Database=qlShop3;Trusted_Connection=Yes"/>    
    -->
  </connectionStrings>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>  
</configuration>